
.cusFont {
  font-family: 'Lora', serif;
  font-weight: bold;
  text-align: center;
  color: white;
}

.lead {
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  color: white;
}

.blacklead {
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  color: black;
}